@import "./variables.scss";
@import "./mixin.scss";
@import "./reset.css";

@font-face {
  font-family: "FZYINGLT_ZHUNJW";
  /* 重命名字体名 */
  src: url("../assets/font/FZYingLTJ_Zhun.TTF");
  font-weight: normal;
  font-style: normal;
}

html,
body .app {
  color: #333333;
  font-family: "FZYINGLT_ZHUNJW", Arial, Helvetica, "STHeiti STXihei",
    "Microsoft YaHei", Tohoma, sans-serif;
  background-color: $background-color;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.u-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-mutiple-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
